teaching-assistant-424718-869fd40a1a26.json
client_secret_331952113787-v3l80nsugsv8755nc7n9nru1q7gu2j3q.apps.googleusercontent.com.json
# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
